In [1]:
import matplotlib.pyplot as plt 
import pulp
import pandas as pd

In [2]:
s_df = pd.read_csv('students.csv')
s_p_df = pd.read_csv('student_pairs.csv')

In [3]:
s_df.head()

   student_id  gender  leader_flag  support_flag  score
0           1       0            0             0    335
1           2       1            0             0    379
2           3       0            0             0    350
3           4       0            0             0    301
4           5       1            0             0    317

In [4]:
len(s_df)

318

In [5]:
s_p_df.head()

   student_id1  student_id2
0          118          189
1           72           50
2          314          233